APP_NAME="Laxman Nepal API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://api.laxmannepal.com.np

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=laxmannepal
DB_USERNAME=postgres
DB_PASSWORD=

CACHE_STORE=redis
QUEUE_CONNECTION=redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

FRONTEND_URL=https://laxmannepal.com.np
